.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
venv
.venv
Dockerfile
README.md
LICENSE
requirements.txt

# ⚠️ Telegram Session Files (सबसे जरूरी)
# अगर ये अपलोड हो गए तो बोट लॉगिन नहीं होगा या क्रैश होगा
*.session
*.session-journal

# IDE & OS Files
.idea
.vscode
.DS_Store
Thumbs.db

# Bot Specific
restart.txt
downloads/
